/*HOME PAGE */
body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;

}

nav {

    height: 60px;
    background-color:palevioletred;
    padding: 10px;
    color: #100C0D;
    margin-bottom: 0 !important;



}

.navbar-links {
    display: block;
    float: right;
    color: aquamarine;
}

.navbar-logo {
    display: block;
    float: left;
    margin-left: 20px;
    font-size: 30px;

}

.navbar-links a {
    margin: 10px;
    font-weight: bold;
    color: #100C0D;

}
.navbar-links a:hover{
    color: #167D7F;


}




.home-image {
    background-color: white;
    width: 100%;
    height: calc(100vh - 120px);
    background-size: cover;
    background-position: center;
    display: block;
    position: absolute;
}

.home-image div {

    text-align: center;
    color: #C6A17A;
    font-size: x-large;
}


.content-about {
    
    background-color:#D8A7B1;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh - 120px);
    display: block;
    position: absolut;

}
    
    h1 {
        text-align: center;
        color: #167D7F;
        font-size: x-large;

    }
    h2{
        color: #167D7F;
        font-size: x-large;
    }



    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }


/*background-color:#D8A7B1;
background-size: cover;
background-position: center;
width: 100%;
height: calc(100vh - 120px);
display: block;
position: absolute;*/
